.Contact {
  padding: 5vh;
  padding-top: 10vh;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact .infos {
  height: 30vh;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}