.Home {
  background: url('https://images.pexels.com/photos/7797745/pexels-photo-7797745.jpeg')
    no-repeat;
  background-size: cover;
  background-position: center 0;
}

.homeTitle {
  font-weight: 400;
  position: relative;
}

.job {
  word-break: break-all;
  color: var(--white);
  font-family: var(--navFont);
  font-size: 2.3vh;
  font-weight: 600;
  font-style: italic;
  opacity: 0.8;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--white);
  padding: 5vh;
}

@media screen and (min-width: 137px) {
}
