.Header {
    background: var(--secondary);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

.search {
    background: white !important;
    width: 80vw !important;
    height: 5vh !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
    padding: 2vw;
    border-radius: 25px;
    padding-left: 5vw;
    margin-bottom: 0 !important;
}
