.Navbar {
  height: 12vh;
  width: 100vw;
  padding: 2vh;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-out;
  background-color: var(--secondary);
  z-index: 3;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu a li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--titleFont);
  font-style: italic;
  color: var(--body);
}

.menu a li span {
  font-size: 2vh;
}

.nav-text {
  display: none;
}

.nav-icon {
  font-size: 6vh;
  color: var(--body);
}

.menu-container {
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart {
  font-size: 10vh;
}

.nav-icon-cart {
  width: 3em;
}

.settings {
  margin-top: 33px;
}

.nav-icon.red {
  color: var(--alert);
}
