.Navbar {
    height: 12vh;
    width: 100vw;
    padding: 2vh;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease-out;
    background-color: var(--secondary);
    z-index: 3;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu a li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--titleFont);
    font-style: italic;
    color: var(--body);
    font-size: 3vh;
}

.nav-text {
    display: none;
}

.logoHome {
    height: 9vh;
}

.nav-icon {
    font-size: 6vh;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart {
    font-size: 10vh;
}
